@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("foundation-5.4.7/css/normalize.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("foundation-5.4.7/css/foundation.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("foundation-5.4.7/js/vendor/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>

        <style type="text/css"></style>
        <meta class="foundation-data-attribute-namespace">
        <meta class="foundation-mq-xxlarge">
        <meta class="foundation-mq-xlarge">
        <meta class="foundation-mq-large">
        <meta class="foundation-mq-medium">
        <meta class="foundation-mq-small">
        <style></style>
        <meta class="foundation-mq-topbar">
    </head>
    <body>
        @content
        <script src="@routes.Assets.at("foundation-5.4.7/js/vendor/modernizr.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("foundation-5.4.7/js/foundation/foundation.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("foundation-5.4.7/js/foundation/foundation.alert.js")" type="text/javascript"></script>
        <script>$(document).foundation();</script>
    </body>
</html>
